<p>Canvas</p>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-auto" style="background-color: greenyellow">
            <canvas #canvas width="400" height="300" (click)="onClick($event.offsetX, $event.offsetY)"></canvas>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col">
                <h2 class=text-center>Controle selecionado: {{ selectedElement.name }}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col border py-2">
                <div class="row justify-content-end">
                    <div class="col-7">
                        <h5 class="text-center">Ajuste</h5>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3 text-right">
                        <label for="offset_x">Horizontal</label>
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" placeholder="Horizontal" id="offset_x" name="offset_x" [(ngModel)]="selectedElement.offset.x">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3 text-right">
                        <label for="offset_y">Vertical</label>
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" placeholder="Vertical" id="offset_y" name="offset_y" [(ngModel)]="selectedElement.offset.y">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3 text-right">
                        <label for="scale">Escala(%)</label>
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" placeholder="Vertical" id="scale" name="scale" [(ngModel)]="selectedElement.scale">
                    </div>
                </div>
            </div>

            <div class="col border">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-center">Alinhamento</h5>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <div class="col-2 text-right">
                        <label>Horizontal</label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline" *ngFor="let item of horizontalAlignments">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="horizontalAlign" id="horizontalAlign" [value]="item" [(ngModel)]="selectedElement.horizontalAlignment"> {{ item }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <div class="col-2 text-right">
                        <label>Vertical</label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline" *ngFor="let item of verticalAlignments">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="vertical" id="horizontalAlign" [value]="item" [(ngModel)]="selectedElement.verticalAlignment"> {{item}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2 text-right py-2">
                        <label>Rotação</label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline" *ngFor="let item of rotations">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="angulo" id="horizontalAlign" [value]="item" [(ngModel)]="selectedElement.rotation"> {{item}}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>